*.idea
node_modules/
twentynineteen
twentyseventeen
twentysixteen
monolit
customify
healthyTheme/libs/
healthyTheme/assets/**/*.css
healthyTheme/components/**/*.css
healthyTheme/global_components/**/*.css
healthyTheme/pages/**/*.css
healthyTheme/rebranding_components/**/*.css
healthyTheme/assets/**/*.js
healthyTheme/components/**/*.js
healthyTheme/global_components/**/*.js
healthyTheme/pages/**/*.js
healthyTheme/rebranding_components/**/*.js
uploads
dev/.env
dev/cms.env
.editorconfig
*.iml
target
node
