/* colors */


.gray-color {
  color: #615E5D
}

.gray-color-2 {
  color: #9FA1A4;
}

.black-color {
  color: #222222;
}

.green-color {
  color: #00A36C
}

.red-color {
  color: #FF3000
}

.white-color {
  color: #FFFFFF
}

.blue-color {
  color: #16BED1
}

.orange-color {
  color: #FB8C23
}

.light-green-color {
  color: #e5f6f0;
}

/* background colors */

.blue-color-bg {
  background-color: #16BED1
}

.green-color-bg {
  background-color: #00A36C
}

.light-green-color-bg {
  background-color: #e5f6f0;
}

.orange-color-bg {
  background-color: #FB8C23
}

.white-color-bg {
  background-color: #FFFFFF
}

.gray-color-bg {
  background-color: #F4F2F0
}

.black-color-bg {
  background-color: #1F1B1A
}

.orange-color-button {
  background-color: #fb8c23
}
.red-color-button {
  background-color: #ff3000
}

.blue-color-button {
  background-color: #16BED1
}

.green-color-button {
  background-color: #00A36C
}

.gray-color-button {
  background-color: #F4F2F0
}

.black-color {
  color: #1f1B1A;
}

.gray-color-2-bg {
  background-color: #615E5D;
}

.black-color-bg-overlay-2 {
  background: rgba(#1F1B1A, 0.2);
}

.filter-brightness-hover-0-8:hover {
  filter: brightness(80%);
}
