.img-card {
  width: 100%;
  height: 300px;
}

.rounded-25 {
  border-radius: 25px;
}

.shadow-default {
  box-shadow: 0 0 30px 0 rgba(64,64,64,20%);
}

.transition-0-3-all {
  transition: 0.3s all;
}

.cursor-pointer {
  cursor: pointer;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.bottom-100 {
  bottom: 100%;
}

.top-0 {
  top: 0;
}

.top-100 {
  top: 100%;
}

.transform-rotate-180 {
  transform: rotate(180deg);
}

.background-size-cover {
  background-size: cover;
}

.z-index-increment-1 {
  z-index: 1;
}

.z-index-decrement-1 {
  z-index: -1;
}

.wave-standard {
  height: 36px;
  background-size: auto;
  background-position: 50% 50%;
  background-repeat: repeat-x;
  background-attachment: scroll;
}
